.desktop-1-child,
.tictactoe {
  position: absolute;
  top: 107px;
  left: 472px;
}
.desktop-1-child {
  top: 326.5px;
  left: 642.5px;
  border-right: 5px solid var(--color-lightyellow);
  box-sizing: border-box;
  width: 5px;
  height: 455px;
}
.desktop-1-item {
  top: 626.5px;
  left: 492.5px;
  border-top: 5px solid var(--color-lightyellow);
  width: 455px;
  height: 5px;
}
.desktop-1-inner,
.desktop-1-item,
.line-div {
  position: absolute;
  box-sizing: border-box;
}
.desktop-1-inner {
  top: 476.5px;
  left: 492.5px;
  border-top: 5px solid var(--color-lightyellow);
  width: 455px;
  height: 5px;
}
.line-div {
  top: 326.5px;
  left: 792.5px;
  border-right: 5px solid var(--color-lightyellow);
  width: 5px;
  height: 455px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #10100e;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 100px;
  color: var(--color-lightyellow);
  font-family: var(--font-archivo);
}
